.carousel {
    position: relative;
    max-width: 50%;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    min-width: 100%; /* Ensure each image takes full width */
    flex: 0 0 auto; /* Prevent images from growing or shrinking */
}


.carousel-images img {
    width: 100%;
    display: none;
}

.carousel-images img.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
